html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*______________BEGIN Markers____________*/
body {
	background-color: LightGray;
	font-family: "Roboto", sans-serif;
}

div {
	border: 1px solid Chocolate;
}

/*______________END Markers_______________*/

/*______________BEGIN Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	height:70px;
}

/* BEGIN 4/4/2016 added code */
.top-navigation .links {
	float:right;
	font-family: "Roboto", sans-serif;
	color: #838994;
	font-size: 16px;
	/*margin-top: 25px;________tue/4/5*/
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 0x;
}

}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
/* END 4/4/2016 add coded */
/*_________________END Navigtion Section */

/*___________BEGIN Navigation styled list & logo */

ul {
	border: 1px solid Black;
	margin-right: 400px;
	margin-top: 3px;
	padding: 10px;
	float:right;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

li {
	border: 1px solid Black;
	float: right;
	margin: 10px;
	list-style-type: none;
}

.logo{
	/*border: 1px solid Black;*/
	margin: 15px;
	padding: 0px -10px;
}
/*_______________END Navigation styled list & logo */



/*___________BEGIN Introduction Section__________*/

/*________BEGIN_added tue/4/5_________*/
.introduction {
	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
}
/*________END__added tue4/5/__________*/

/*_____BEGIN - 4/7 Lesson 5, Unit 6 Cont.-_____*/

.content {
	margin: 0 auto;
	width: 970px;
}

.introduction h1, .introduction h3 { 
	text-align: center;
	color: white;
	font-weight: 100;

}

.introduction h1 {
 margin-top: 17.5rem;
 font-size: 3.125rem;
}

/*_____END - 4/7 Lesson 5, Unit 6 Cont.-______*/

/*___________END Introduction Section____________*