html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*______________BEGIN Markers____________*/
body {
	background-color: LightGray;
	font-family: "Roboto", sans-serif;
}

div {
	border: 1px solid Chocolate;
}

/*______________END Markers_______________*/

/*______________BEGIN Navigation Section */
.top-navigation {
	background-color: #fff;
	width:100%;
	z-index: 9999;
}
.top-navigation > .content {
	height:70px;
}

.top-navigation .links {
	font-family: "Roboto", sans-serif;
	color: #838994;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	float:right;
	margin-right: 4em;
	margin-left: 6em;
	position:absolute;
}
.top-navigation .links > li {
	display: inline-block;
}

}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.links {
	width: 33em;
}
/*_________________END Navigtion Section */

/*___________BEGIN Navigation styled list & logo */

ul {
	border: 1px solid Black;
	margin-right: 3em;
	margin-top: 3px;
	padding: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

li {
	border: 1px solid blue;
	margin: 10px;
	list-style-type: none;
}

.logo{
	/*border: 1px solid Black;*/
	margin: 15px;
	position:absolute;
	margin-left:2em;
}
/*_______________END Navigation styled list & logo */



/*___________BEGIN Introduction Section__________*/

/*________BEGIN_added tue/4/5_________*/
.introduction {
	background-image: url("../images/first-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 38rem;
	/*overflow: auto; ____4/7 adding this created a problem */
}
/*________END__added tue4/5/__________*/

/*_____BEGIN - 4/7 Lesson 5, Unit 6 Cont.-_____*/

.content {
	margin: 0 auto;
	width: 100%;
}

.introduction h1, .introduction h3 { 
	text-align: center;
	color: white;
	font-weight: 100;

}

.introduction h3 {
	margin-top: -1rem;
}

.introduction h1 {
 	margin-top: 15.5rem;
 	font-size: 3.125rem;
}

button {
	width:9.688rem;
	background-color:#f15a29;
	color:white;
	display: block;
	margin: 0 auto;
	margin-top: ; /*not in the clone-site*/
	margin-bottom: ; /*not in the clone-site*/
}

/*_____END - 4/7 Lesson 5, Unit 6 Cont.-______*/
/*___________END Introduction Section____________*/

/*_____BEGIN - 4/8 Lesson 5, Unit 7 -________*/
/*_____BEGIN - Three Icon Section - ________*/
.cases {
	font-family: "Roboto", sans-serif;
	border: 1px solid yellow;
}
.devices {
	border: 1px solid red;
}
.cases .devices {
	width: 100%;
	/* styles to assist with debugging */
	box-sizing: border-box;
	height: 20em;
}

.cases .devices > li{
	width: 13em;
	display: inline-block;
	text-align: center;
}

.devices {
	text-align: center;
	margin-top: 1em;
	position:relative;
}

.cases h2 {
	border: 1px solid black;
	font-size: 2.75rem;
	margin: 7rem 0 3.125rem;
	font-weight: 300;
	text-align: center;
}

/*_____END - Three Icon Section - ________*/

/*________BEGIN - Footer Section -________*/

.social {
	text-align: center;
}

.icons > li {
	display:inline;
}

.icons {
	margin-left:3em;
}

/*____END - Footer Section -______________*/
